[submodule "base"]
	path = dwt/base
	url = https://github.com/d-widget-toolkit/base.git
[submodule "org.eclipse.swt.win32.win32.x86"]
	path = dwt/org.eclipse.swt.win32.win32.x86
	url = https://github.com/d-widget-toolkit/org.eclipse.swt.win32.win32.x86.git
[submodule "org.eclipse.swt.gtk.linux.x86"]
	path = dwt/org.eclipse.swt.gtk.linux.x86
	url = https://github.com/d-widget-toolkit/org.eclipse.swt.gtk.linux.x86.git
[submodule "org.eclipse.swt.snippets"]
	path = dwt/org.eclipse.swt.snippets
	url = https://github.com/d-widget-toolkit/org.eclipse.swt.snippets.git
